.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: darkgray;
    height: 56px;

}

.navbar_logo a {
    color: white;
    text-decoration: none;
    font-size: 2rem;
}

.navbar_tool {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 1rem;
}
.navbar_items ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex; 
}

.navbar_items li{
    padding: 0 0.5rem;
}

.navbar_items li a{
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: blue;
}

.navbar_items li a:hover {
    background-color: white;
}

.navbar_items {
    color: white;
    text-decoration: none;
}

.navbar_items a:hover,
.navbar_items a:active {
    color: gray;
}

.space {
    flex: 1;
}
