.navbar-color{
  background: #373B44;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.landing-body {
  margin: auto;
  background: #bdc3c7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 2em;
}

 /* Profile Page */
 .landing-grid {
  text-align: center;
  justify-content: center;
  width: 80%;
  height: 550px;
  background: white;
  color: black;
  border: 2px solid blue;
  margin-bottom: 20 px;

}

 /* Landing Page */
 .logo-image{
  height:250px;
  padding-top: 5em;
}

 /* Landing Page */
.banner {
  background-color: black;
  opacity: .8;
  width: 75%;
  margin: auto;
  border-radius: 10px;
}

 /* Landing Page */
.banner h1 {
  font-size: 66px;
  font-weight: bold;
  color: white;
}

 /* Landing Page */
.banner hr{
  border-top: 5px dotted white;
  width: 50%;
  margin: auto;
}

 /* Landing Page */
.banner p{
  color: white;
  font-size: 20px;
  padding: 1em;
}
 /* Landing Page */
.drive-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}

 /* Landing Page */
.drive-links i{
  color: white;
  font-size: 5em;
  padding: 8px;
}

 /* Profile Page */
.profile-body {
  margin: auto;
  background: #bdc3c7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 2em;
}

 /* Profile Page */
.profile-grid {
  text-align: center;
  justify-content: center;
  width: 80%;
  height: 550px;
  background: white;
  color: black;
  border: 2px solid blue;
  margin-bottom: 20 px;

}

 /* Profile Page */
.profile-grid h2 {
  font-family: 'Anton', sans-serif;
}

 /* Profile Page */
.profile-grid p {
  font-family: 'Oxygen', sans-serif;
  font-weight: bold;
}

 /* Profile Page */
.profile-grid hr{
  border-top: 5px dotted black;
  width: 50%;
  margin: auto;
}

 /* Profile Page */
.info-list i{
  font-size: 25px;
  padding-right: 5rem;
}

/* Create Account Page */
.createaccount-grid {
  text-align: center;
  justify-content: center;
  width: 80%;
  height: 550px;
  background: white;
  color: black;
  border: 2px solid blue;
  margin-bottom: 20 px;
}

/* Create Account Page */
.createaccount-body {
  margin: auto;
  background: #bdc3c7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 2em;
}

/* Create Account Page*/
.initialValues {
  width: 400%;
}

/* Ride Page */
.ride-grid {
  display: flex;
}



/* Login Page */
.login-body {
  margin: auto;
  background: #bdc3c7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 2em;
}

 /* Login Page */
 .login-grid {
  text-align: center;
  justify-content: center;
  width: 80%;
  height: 550px;
  background: white;
  color: black;
  border: 2px solid blue;
  margin-bottom: 20 px;

}




/* Passenger Page */
.passenger-body {
  margin: auto;
  background: #bdc3c7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 2em;
}

 /* Passenger Page */
 .passenger-grid {
  text-align: center;
  justify-content: center;
  width: 80%;
  height: 550px;
  background: white;
  color: black;
  border: 2px solid blue;
  margin-bottom: 20 px;

}

/* Home Page */
.home-body {
  margin: auto;
  background: #bdc3c7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 2em;
}
/* 
 Home Page */
 .home-grid {
  text-align: center;
  justify-content: center;
  width: 80%;
  height: 550px;
  /*background: white;*/
  color: black;
  /*border: 2px solid blue;*/
  margin-bottom: 20 px;

}

/*Home Page Right Column*/
.notif-right-col {
  background: white;
  padding: 2em;
  overflow: scroll;

}

/* .notif-right-col{
  width: 25%;
} */

/* Home Page Left Column */
.notif-left-col {
  background: white;
  position: absolute;
  top: 0px;
  bottom: 0;
  left: 0; 
  width: 75%;
  overflow-y: scroll;
}

.about-body {
  margin: auto;
  background: #bdc3c7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 2em;
}

 /* Profile Page */
 .about-grid {
  text-align: center;
  justify-content: center;
  width: 80%;
  height: 550px;
  background: white;
  color: black;
  border: 2px solid blue;
  margin-bottom: 20 px;

}

 /* Drive Page */
.drive-body {
  margin: auto;
  background: #bdc3c7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 2em;
}

 /* Drive Page */
 .drive-grid {
  text-align: center;
  justify-content: center;
  width: 80%;
  height: 550px;
  background: white;
  color: black;
  border: 2px solid blue;
  margin-bottom: 20 px;

}

 /* Logout Page */
 .logout-body {
  margin: auto;
  background: #bdc3c7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 2em;
}

 /* Logout Page */
 .logout-grid {
  text-align: center;
  justify-content: center;
  width: 80%;
  height: 550px;
  background: white;
  color: black;
  border: 2px solid blue;
  margin-bottom: 20 px;

}